<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>WebCampBackendNew</title>
  </head>

  <body>
    <h1>Editing Book</h1>

    <label for="book_title">Title</label>
    <%= @book.title %>

    <label for="book_body">Body</label>
    <%= @book.body %>
  </body>
</html>