<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="CidAxvy8yWJhovKRomuO2agzf901aqp8jBFGWaFdY/3EHMfYyD0KJFCOTo6LQIZ7aOL0aUsqasGkc8pGB2Rwag==">
  </head>
  
  <body>
    <p id="notice"></p>
    <p>
      <strong>Title:</strong>
      <p><%= @book.title %></p>
    </p>
  </body>
  
</html>