<!DOCTYPE html>
<html lang ="ja">
<head>
  <meta charset="UTF-8"/
  <title>Homes</title>
</head>

<body>
<h1>ようこそBookersへ！</h1>
<%= form_with model: Book.top do |f| %>
  <%= f.text_field :title %>
<% end %>

<p>Bookersでは、さまざまな書籍に関するあなたの意見や</p>
<p>印象を共有し交換することができます</p>

<a href=""></a>
</body>
</html>